html, body {
  background: linear-gradient(
    -0deg,
    rgb(218, 177, 125),
    rgb(228, 181, 110),
    #e0b682
  );
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #chat {

    margin-top: 6rem;
    height: 70vh;
    width: 40vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 1rem;
  }

  h1{
    font-family: cursive;
    color: rgb(119, 25, 25);
    margin-bottom: 2rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5rem;
  }
  
  input {
    width: 40vw;
    border: 1px solid rgb(129, 42, 42);
    height: 50px;
    margin-top: 0.1rem; 
    padding: 1rem;
    font-size: 14px;
    border-radius: 2rem;
    background-color: blanchedalmond;
  }

  input::placeholder{

    color: rgb(129, 42, 42);
    font-weight: bold;
  }

  button {
    width: 40vw;
    height: 50px;
    font-size: 14px;
    background: rgb(129, 42, 42);
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    margin-top: 1rem;
    border-radius: 2rem;
    border-style: solid;
  }
  
  .messages {

    text-align: start;
    width: 40vw;
    height: 400px;
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-color: rgb(129, 42, 42);
    border-radius: 2rem;
    background-color: rgb(247, 220, 179);
  }
  