body {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.BordaSuperior {
  background: rgb(32, 27, 44);
  padding-top: 1rem;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-right: 60rem;
}

.cabecalho-imagem {
  height: 30px;
  padding-right: 3.5rem;
  padding-left: 1rem;
  border: none;
}

header>button{

  margin-left: 30rem;
}

#linha{

  color: black;
}

.cabecalho-menu {
  display: flex;
  gap: 50px;
}

.cabecalho-menu-item {
  font-family: cursive, sans-serif;
  color: #ffe4c4;
  font-size: 1rem;
  text-decoration: none;
}

.cabecalho-menu-item:hover {
  text-decoration: underline;
  color: rgb(250, 217, 176);
  cursor: pointer;
  box-sizing: border-box;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    -180deg,
    rgb(32, 27, 44),
    rgb(24, 19, 34),
    rgb(15, 11, 22)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: thin;
}
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffe4c4
}

*::-webkit-scrollbar-thumb {
  background-color: #ffe4c4;
  border-radius: 20px;
  border: 3px solid #f3cd9e;
}

.video{

  border-radius: 1rem;
}

#linha{

  border: none;
  background-color: rgb(32, 27, 44);
  color: #f3cd9e;
}

.botao{

  margin-left: 30rem;
  
}